body{
    margin: 0
}

#intro{
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 5%; */
    background-color: #BBC5AA;
}

#intro img{
    width: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li{
    display: inline;
    float: left;
    text-align: center;
    padding: 14px 16px;
}

nav ul li a{
    text-align: center;
    color: white;
}

nav ul li:hover{
    background-color: #111;
}

.center{
    text-align: center;
}

#about_me{
    display: flex;
    justify-content: center;
    background-color: E6EED6;
}


#projects{
    background-color: BBC5AA;
}
#projects h2{
    margin-top: 0;
    padding: 20px;
}



.displayList{
    display: flex;
    justify-content: center;
    gap: 20px;
}


img{
    width: 20rem;
    height: 20rem;
}

.project_card {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

#skills{
    background-color: E6EED6;
}
#skills h2{
    margin-top: 0;
    padding-top: 20px;
}

.myDiv:hover + .hide{
    display:block;
}
.hide{
    display:none;
}

.fixed_top{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

ul{
    list-style-type: none;
}

#contact{
    background-color: BBC5AA;
}
#contact h2{
    margin-top: 0;
    padding-top: 20px;
}
#contact ul{
    margin: 0;
}

#content{
    margin-top: 45px;
}

.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.image-cropper{
    overflow: hidden;
    border-radius: 50%;
}